---
import type { GetStaticPaths } from "astro";
import MainGridLayout from "@/layouts/MainGridLayout.astro";

export const getStaticPaths = (() => [
	{
		params: { page: undefined },
	},
]) satisfies GetStaticPaths;
---

<MainGridLayout>
	<section class="home-pending onload-animation" aria-label="待定区">
		待定区
	</section>
</MainGridLayout>
