---
import ArchivePanel from "@components/controls/ArchivePanel.svelte";
import ArchiveHeatmap from "@components/widget/ArchiveHeatmap.astro";
import TerrariumModel from "@components/widget/TerrariumModel.astro";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import PageTitle from "@/components/common/PageTitle.astro";
import { getSortedPostsList } from "@/utils/content-utils";

const sortedPostsList = await getSortedPostsList();
const title = i18n(I18nKey.archive);
---

<MainGridLayout title={title}>
  <div class="flex w-full rounded-(--radius-large) overflow-hidden relative min-h-32">
    <div class="card-base z-10 px-4 py-6 md:px-9 relative w-full">
      <div class="mb-8">
        <PageTitle
          title={title}
          eyebrow="Archive"
          variant="stacked"
        />
      </div>
      <ArchiveHeatmap posts={sortedPostsList} />
      <div class="hidden md:block">
        <TerrariumModel client:visible />
      </div>
      <ArchivePanel sortedPosts={sortedPostsList} client:load />
    </div>
  </div>
</MainGridLayout>
