---
import HomeDataLayer from "@components/layout/HomeDataLayer.astro";
import HomeDisplayLayer from "@components/layout/HomeDisplayLayer.astro";
import HomeHero from "@components/layout/HomeHero.astro";
import HomeTicker from "@components/layout/HomeTicker.astro";
import MainGridLayout from "@/layouts/MainGridLayout.astro";
import "@/styles/components/home-data-layer.css";
import "@/styles/components/home-display-layer.css";
import "@/styles/components/home-hero-dialogue.css";
import "@/styles/components/home-hero.css";
import "@/styles/components/home-portfolio-shutter.css";
import "@/styles/components/home-section.css";
import "@/styles/components/home-ticker.css";
---

<MainGridLayout>
	<div class="home-page home-page--motion-pending">
		<HomeHero />
		<HomeTicker />
		<HomeDataLayer />
		<HomeDisplayLayer />
	</div>
</MainGridLayout>
