---
import HomeDataLayer from "@components/layout/HomeDataLayer.astro";
import HomeDisplayLayer from "@components/layout/HomeDisplayLayer.astro";
import HomeHero from "@components/layout/HomeHero.astro";
import HomeTicker from "@components/layout/HomeTicker.astro";
import MainGridLayout from "@/layouts/MainGridLayout.astro";
---

<MainGridLayout>
	<div class="home-page home-page--motion-pending">
		<HomeHero />
		<HomeTicker />
		<HomeDataLayer />
		<HomeDisplayLayer />
	</div>
</MainGridLayout>
