---
import Icon from "@components/common/Icon.astro";
import TagTreemap from "@components/widget/TagTreemap.astro";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getTagList } from "@/utils/content-utils";

const tags = await getTagList();
const title = i18n(I18nKey.tags);
---

<MainGridLayout title={title}>
  <div class="tags-page card-base z-10 px-4 py-6 md:px-9 relative w-full">
    <div class="tags-page__header flex items-center gap-3 mb-6">
      <Icon name="material-symbols:label" class="text-[1.875rem]" />
      <div class="text-3xl font-bold text-neutral-900 dark:text-neutral-100">
        {title}
      </div>
    </div>
    <div class="tags-page__chart-container">
      <TagTreemap tags={tags} />
    </div>
  </div>
</MainGridLayout>
